################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FrbaCrucero/.vs/FrbaCrucero/v15/Server/sqlite3
