################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FrbaCrucero/.vs/FrbaCrucero/v15/Server/sqlite3
/FrbaCrucero/.vs/FrbaCrucero/v15
/FrbaCrucero/bin/Debug
/FrbaCrucero/obj/Debug
