################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FrbaCrucero/FrbaCrucero.v11.suo
/FrbaCrucero/.vs/FrbaCrucero/v15/Server/sqlite3
/FrbaCrucero/.vs/FrbaCrucero/v15
/FrbaCrucero/bin/Debug
/FrbaCrucero/obj/Debug
*.suo
FrbaCrucero/FrbaCrucero.BL/bin/Debug/
*.cache
FrbaCrucero/FrbaCrucero.BL/obj/Debug/
FrbaCrucero/FrbaCrucero.DAL/obj/Debug/
FrbaCrucero/FrbaCrucero.v11.suo